$color_1: #2f3138;
$color_2: #f82249;
$color_3: #f8234a;
$color_4: #0e1b4d;
$color_5: #fff;
$color_6: #9195a2;
$color_7: rgba(202, 206, 221, 0.8);
$color_8: #060c22;
$color_9: #ebebeb;
$color_10: #112363;
$color_11: #19328e;
$color_12: #152b79;
$color_13: #ffc31d;
$color_14: #000;
$color_15: #4869df;
$color_16: red;
$color_17: #eee;
$color_18: #ddd;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-family_3: FontAwesome;
$background-color_1: #f6f7fd;
$background-color_2: #f82249;
$background-color_3: #0e1b4d;
$background-color_4: #fff;
$background-color_5: #ddd;
$background-color_6: #e0072f;

/* Prelaoder */

@keyframes heartBeat {
	0% {
		transform: scale(0.96);
	}
	5% {
		transform: scale(1.1);
	}
	39% {
		transform: scale(0.85);
	}
	45% {
		transform: scale(1);
	}
	60% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(0.9);
	}
}

/* Search */
.search-bar {
	input {
		transition: all 0.25s ease-out;
		width: 3em;
		height: 3em;
		background: transparent;
		border-radius: 1.5em;
		box-shadow: 0 0 0 0.4em #ffffff inset;
		padding: 0.75em;
		transform: translate(0.5em,0.5em) scale(0.5);
		transform-origin: 100% 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&:invalid {
			&:not(:focus) {
				cursor: pointer;
			}
		}
		&:focus {
			width: 100%;
			outline: transparent;
			background: #fff;
			border-radius: 0.375em 0 0 0.375em;
			box-shadow: 0 0 0 0.1em #d9d9d9 inset;
			transform: scale(1);
			+ {
				.search-btn {
					background: #cb3d3d;
					border-radius: 0 0.375em 0.375em 0;
					transform: scale(1);
					&:before {
						opacity: 1;
					}
					&:after {
						opacity: 1;
					}
					&:hover {
						background: #cb3d3d;
					}
					&:active {
						transform: translateY(1px);
					}
				}
			}
		}
		&:valid {
			width: 100%;
			background: #fff;
			border-radius: 0.375em 0 0 0.375em;
			box-shadow: 0 0 0 0.1em #d9d9d9 inset;
			transform: scale(1);
			+ {
				.search-btn {
					background: #cb3d3d;
					border-radius: 0 0.375em 0.375em 0;
					transform: scale(1);
					&:before {
						opacity: 1;
					}
					&:after {
						opacity: 1;
					}
					&:hover {
						background: #cb3d3d;
					}
					&:active {
						transform: translateY(1px);
					}
				}
			}
			&:not(:focus) {
				+ {
					.search-btn {
						&:focus {
							background: #cb3d3d;
						}
					}
				}
			}
		}
		&:not(:focus) {
			+ {
				.search-btn {
					&:focus {
						outline: transparent;
					}
				}
			}
		}
		&::-webkit-search-decoration {
			-webkit-appearance: none;
		}
	}
	width: 100%;
	margin: 0;
	padding: 1.5em;
	justify-content: center;
	max-width: 40em;
}
.search-btn {
	transition: all 0.25s ease-out;
	width: 3em;
	height: 3em;
	cursor: pointer;
	background: #ffffff;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(35deg) scale(0.25,0.125);
	transform-origin: 0 50%;
	&:before {
		transition: all 0.25s ease-out;
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		border-radius: 50%;
		box-shadow: 0 0 0 0.2em #f1f1f1 inset;
		top: 0.75em;
		left: 0.75em;
		width: 1.2em;
		height: 1.2em;
	}
	&:after {
		transition: all 0.25s ease-out;
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		background: #f1f1f1;
		border-radius: 0 0.25em 0.25em 0;
		top: 51%;
		left: 51%;
		width: 0.75em;
		height: 0.25em;
		transform: translate(0.2em,0) rotate(45deg);
		transform-origin: 0 50%;
	}
	span {
		display: inline-block;
		overflow: hidden;
		width: 1px;
		height: 1px;
	}
}
@media screen and (prefers-color-scheme: dark) {
	body {
		color: $color_1;
		background: #171717;
	}
	input {
		color: $color_1;
	}
	.search-bar {
		input {
			box-shadow: 0 0 0 0.4em #f1f1f1 inset;
			&:focus {
				background: #3d3d3d;
				box-shadow: 0 0 0 0.1em #3d3d3d inset;
			}
			&:valid {
				background: #3d3d3d;
				box-shadow: 0 0 0 0.1em #3d3d3d inset;
			}
		}
	}
	.search-btn {
		background: #f1f1f1;
	}
}


/* Back to top button */
/* Sections Header
--------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
/* Nav Menu Arrows */
/* Nav Meu Container */
/* Nav Meu Styling */
/* Mobile Nav Toggle */
/* Mobile Nav Styling */
/* Mobile Nav body classes */
/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
@-webkit-keyframes pulsate-btn {
	0% {
		-webkit-transform: scale(0.6, 0.6);
		transform: scale(0.6, 0.6);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 0;
	}
}
@keyframes pulsate-btn {
	0% {
		-webkit-transform: scale(0.6, 0.6);
		transform: scale(0.6, 0.6);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 0;
	}
}
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Speakers Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Hotels Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# supporters Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Subscribe Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Buy Tickets Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/
body {
	background: #fff;
	color: $color_1;
	font-family: $font-family_1;
}
a {
	color: $color_2;
	transition: 0.5s;
	&:hover {
		color: $color_3;
		outline: none;
		text-decoration: none;
	}
	&:active {
		color: $color_3;
		outline: none;
		text-decoration: none;
	}
	&:focus {
		color: $color_3;
		outline: none;
		text-decoration: none;
	}
}
p {
	padding: 0;
	margin: 0 0 30px 0;
}
h1 {
	font-family: $font-family_2;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
	color: $color_4;
}
h2 {
	font-family: $font-family_2;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
	color: $color_4;
}
h3 {
	font-family: $font-family_2;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
	color: $color_4;
}
h4 {
	font-family: $font-family_2;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
	color: $color_4;
}
h5 {
	font-family: $font-family_2;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
	color: $color_4;
}
h6 {
	font-family: $font-family_2;
	font-weight: 400;
	margin: 0 0 20px 0;
	padding: 0;
	color: $color_4;
}
.main-page {
	margin-top: 70px;
}
.wow {
	visibility: hidden;
}
.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	opacity: 1;
	transition: opacity 1s ease;
}
.loader {
	position: relative;
	width: 40px;
	height: 60px;
	animation: heartBeat 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
	&:before {
		content: "";
		background: #ff3d00;
		width: 40px;
		height: 60px;
		border-radius: 50px 50px 0 0;
		position: absolute;
		left: 0;
		bottom: 0;
		transform: rotate(45deg);
		transform-origin: 50% 68%;
		box-shadow: 5px 4px 5px #0004 inset;
	}
	&:after {
		content: "";
		background: #ff3d00;
		width: 40px;
		height: 60px;
		border-radius: 50px 50px 0 0;
		position: absolute;
		left: 0;
		bottom: 0;
		transform: rotate(45deg);
		transform-origin: 50% 68%;
		box-shadow: 5px 4px 5px #0004 inset;
		transform: rotate(-45deg);
	}
}
.back-to-top {
	position: fixed;
	display: none;
	background: #f82249;
	color: $color_5;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50px;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s ease-in-out;
	i {
		font-size: 24px;
		padding-top: 6px;
	}
	&:focus {
		background: #e0072f;
		color: $color_5;
		outline: none;
	}
	&:hover {
		background: #e0072f;
		color: $color_5;
	}
}
.section-header {
	margin-bottom: 60px;
	position: relative;
	padding-bottom: 20px;
	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 60px;
		height: 5px;
		background: #f82249;
		bottom: 0;
		left: calc(50% - 25px);
	}
	h2 {
		font-size: 36px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		margin-bottom: 10px;
	}
	p {
		text-align: center;
		padding: 0;
		margin: 0;
		font-size: 18px;
		font-weight: 500;
		color: $color_6;
	}
}
.section-with-bg {
	background-color: $background-color_1;
}
#header {
	height: 90px;
	padding: 25px 0;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
	#logo {
		display: flex; /* Use flexbox layout */
		justify-content: space-between;
		h1 {
			font-size: 36px;
			margin: 0;
			padding: 6px 0;
			line-height: 1;
			font-family: $font-family_2;
			font-weight: 700;
			letter-spacing: 3px;
			text-transform: uppercase;
			span {
				color: $color_2;
			}
			a {
				color: $color_5;
				&:hover {
					color: $color_5;
				}
			}
		}
		img {
			padding: 0;
			margin: 0;
			max-height: 40px;
		}
	}
}
#header.header-scrolled {
	background: rgba(6, 12, 34, 0.98);
	height: 70px;
	padding: 15px 0;
	transition: all 0.5s;
}
#header.header-fixed {
	background: rgba(6, 12, 34, 0.98);
	height: 70px;
	padding: 15px 0;
	transition: all 0.5s;
}
.nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	* {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
		margin: 4px 0 0 0;
		padding: 10px;
		box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
		background: #fff;
		border-radius: 3px;
		ul {
			top: 0;
			left: 100%;
			margin: 0;
		}
		li {
			min-width: 180px;
			transition: 0.3s;
			a {
				padding: 10px;
				color: $color_8;
				transition: 0.3s;
				display: block;
				font-size: 13px;
				text-transform: none;
				border-radius: 3px;
			}
			&:hover {
				>a {
					background: #f82249;
					color: $color_5;
				}
			}
		}
	}
	li {
		position: relative;
		white-space: nowrap;
		&:hover {
			>ul {
				display: block;
			}
			>a {
				&:before {
					visibility: visible;
					width: 100%;
				}
			}
		}
	}
	>li {
		float: left;
		margin-left: 8px;
		>a {
			&:before {
				content: "";
				position: absolute;
				width: 0;
				height: 2px;
				bottom: 0;
				left: 0;
				background-color: $background-color_2;
				visibility: hidden;
				transition: all 0.3s ease-in-out 0s;
			}
		}
	}
	li.sfHover {
		>ul {
			display: block;
		}
	}
	a {
		padding: 8px;
		text-decoration: none;
		display: inline-block;
		color: $color_7;
		font-family: $font-family_2;
		font-weight: 600;
		font-size: 14px;
		outline: none;
		&:hover {
			color: $color_5;
			&:before {
				visibility: visible;
				width: 100%;
			}
		}
	}
	.menu-active {
		a {
			color: $color_5;
		}
		>a {
			&:before {
				visibility: visible;
				width: 100%;
			}
		}
	}
	li.buy-tickets {
		a {
			color: $color_5;
			background: #f82249;
			padding: 7px 22px;
			border-radius: 50px;
			border: 2px solid #f82249;
			transition: all ease-in-out 0.3s;
			font-weight: 500;
			margin-left: 8px;
			margin-top: 2px;
			line-height: 1;
			font-size: 13px;
			&:hover {
				background: none;
			}
		}
		&:hover {
			a {
				&:before {
					visibility: hidden;
				}
			}
		}
	}
	li.buy-tickets.menu-active {
		a {
			&:before {
				visibility: hidden;
			}
		}
	}
}
.sf-arrows {
	.sf-with-ul {
		padding-right: 30px;
		&:after {
			content: "\f107";
			position: absolute;
			right: 15px;
			font-family: $font-family_3;
			font-style: normal;
			font-weight: normal;
		}
	}
	ul {
		.sf-with-ul {
			&:after {
				content: "\f105";
			}
		}
	}
}
#nav-menu-container {
	float: right;
	margin: 0;
}
#mobile-nav-toggle {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	margin: 15px 15px 0 0;
	border: 0;
	background: none;
	font-size: 24px;
	display: none;
	transition: all 0.4s;
	outline: none;
	cursor: pointer;
	i {
		color: $color_5;
	}
}
#mobile-nav {
	position: fixed;
	top: 0;
	padding-top: 18px;
	bottom: 0;
	z-index: 998;
	background: rgba(6, 12, 34, 0.9);
	left: -260px;
	width: 260px;
	overflow-y: auto;
	transition: 0.4s;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			position: relative;
			a {
				color: $color_5;
				font-size: 17px;
				overflow: hidden;
				padding: 10px 22px 10px 15px;
				position: relative;
				text-decoration: none;
				width: 100%;
				display: block;
				outline: none;
				&:hover {
					color: $color_2;
				}
			}
			li {
				padding-left: 30px;
			}
		}
		.menu-has-children {
			i {
				position: absolute;
				right: 0;
				z-index: 99;
				padding: 15px;
				cursor: pointer;
				color: $color_5;
			}
			i.fa-chevron-up {
				color: $color_2;
			}
		}
		.menu-item-active {
			color: $color_2;
		}
	}
}
#mobile-body-overly {
	width: 100%;
	height: 100%;
	z-index: 997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(6, 12, 34, 0.8);
	display: none;
}
body.mobile-nav-active {
	overflow: hidden;
	#mobile-nav {
		left: 0;
	}
	#mobile-nav-toggle {
		color: $color_5;
	}
}
#intro {
	width: 100%;
	height: 100vh;
	background: url(../img/intro-bg.jpg) top center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	&:before {
		content: "";
		background: rgba(6, 12, 34, 0.8);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	.intro-container {
		position: absolute;
		bottom: 0;
		left: 0;
		top: 90px;
		right: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
		padding: 0 15px;
	}
	h1 {
		color: $color_5;
		font-family: $font-family_2;
		font-size: 56px;
		font-weight: 600;
		text-transform: uppercase;
		span {
			color: $color_2;
		}
	}
	p {
		color: $color_9;
		font-weight: 700;
		font-size: 20px;
	}
	.play-btn {
		width: 94px;
		height: 94px;
		background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
		border-radius: 50%;
		display: block;
		position: relative;
		overflow: hidden;
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translateX(-40%) translateY(-50%);
			transform: translateX(-40%) translateY(-50%);
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 15px solid #fff;
			z-index: 100;
			transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
		&:before {
			content: '';
			position: absolute;
			width: 120px;
			height: 120px;
			-webkit-animation-delay: 0s;
			animation-delay: 0s;
			-webkit-animation: pulsate-btn 2s;
			animation: pulsate-btn 2s;
			-webkit-animation-direction: forwards;
			animation-direction: forwards;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-timing-function: steps;
			animation-timing-function: steps;
			opacity: 1;
			border-radius: 50%;
			border: 2px solid rgba(163, 163, 163, 0.4);
			top: -15%;
			left: -15%;
			background: rgba(198, 16, 0, 0);
		}
		&:hover {
			&::after {
				border-left: 15px solid #f82249;
				-webkit-transform: scale(20);
				transform: scale(20);
			}
			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				-webkit-transform: translateX(-40%) translateY(-50%);
				transform: translateX(-40%) translateY(-50%);
				width: 0;
				height: 0;
				border: none;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 15px solid #fff;
				z-index: 200;
				-webkit-animation: none;
				animation: none;
				border-radius: 0;
			}
		}
	}
	.about-btn {
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 1px;
		display: inline-block;
		padding: 12px 32px;
		border-radius: 50px;
		transition: 0.5s;
		line-height: 1;
		margin: 10px;
		color: $color_5;
		-webkit-animation-delay: 0.8s;
		animation-delay: 0.8s;
		border: 2px solid #f82249;
		&:hover {
			background: #f82249;
			color: $color_5;
		}
	}
}
#about {
	background: url("../img/about-bg.jpg");
	background-size: cover;
	overflow: hidden;
	position: relative;
	color: $color_5;
	padding: 60px 0 40px 0;
	&:before {
		content: "";
		background: rgba(13, 20, 41, 0.8);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	h2 {
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 10px;
		color: $color_5;
	}
	h3 {
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 10px;
		color: $color_5;
	}
	p {
		font-size: 14px;
		margin-bottom: 20px;
		color: $color_5;
	}
}
#speakers {
	padding: 60px 0 30px 0;
	.speaker {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;
		.details {
			background: rgba(6, 12, 34, 0.76);
			position: absolute;
			left: 0;
			bottom: -30px;
			right: 0;
			text-align: center;
			padding-top: 10px;
			transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
			h3 {
				color: $color_5;
				font-size: 22px;
				font-weight: 600;
				margin-bottom: 5px;
			}
			p {
				color: $color_5;
				font-size: 15px;
				margin-bottom: 10px;
				font-style: italic;
			}
			.social {
				height: 30px;
			}
			a {
				color: $color_5;
				&:hover {
					color: $color_2;
				}
			}
		}
		&:hover {
			.details {
				bottom: 0;
			}
		}
	}
}
#speakers-details {
	padding: 60px 0;
	.details {
		h2 {
			color: $color_10;
			font-size: 28px;
			font-weight: 700;
			margin-bottom: 10px;
		}
		.social {
			margin-bottom: 15px;
			a {
				background: #e9edfb;
				color: $color_10;
				line-height: 1;
				display: inline-block;
				text-align: center;
				border-radius: 50%;
				width: 36px;
				height: 36px;
				padding-top: 9px;
				&:hover {
					background: #f82249;
					color: $color_5;
				}
				i {
					font-size: 18px;
				}
			}
		}
		p {
			color: $color_10;
			font-size: 15px;
			margin-bottom: 10px;
		}
	}
}
#schedule {
	padding: 60px 0 60px 0;
	.nav-tabs {
		text-align: center;
		margin: auto;
		display: block;
		border-bottom: 0;
		margin-bottom: 30px;
		li {
			display: inline-block;
			margin-bottom: 0;
		}
		a {
			border: none;
			border-radius: 50px;
			font-weight: 600;
			background-color: $background-color_3;
			color: $color_5;
			padding: 10px 100px;
		}
		a.active {
			background-color: $background-color_2;
			color: $color_5;
		}
	}
	.sub-heading {
		text-align: center;
		font-size: 18px;
		font-style: italic;
		margin: 0 auto 30px auto;
	}
	.tab-pane {
		transition: ease-in-out .2s;
	}
	.schedule-item {
		border-bottom: 1px solid #cad4f6;
		padding-top: 15px;
		padding-bottom: 15px;
		transition: background-color ease-in-out 0.3s;
		&:hover {
			background-color: $background-color_4;
		}
		time {
			padding-bottom: 5px;
			display: inline-block;
		}
		.speaker {
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 50%;
			float: left;
			margin: 0 10px 10px 0;
			img {
				height: 100%;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				margin-left: 50%;
				transition: all ease-in-out 0.3s;
			}
		}
		h4 {
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 5px;
			span {
				font-style: italic;
				color: $color_11;
				font-weight: normal;
				font-size: 16px;
			}
		}
		p {
			font-style: italic;
			color: $color_12;
			margin-bottom: 0;
		}
	}
}
#venue {
	padding: 60px 0;
	.container-fluid {
		margin-bottom: 3px;
	}
	.venue-map {
		iframe {
			width: 100%;
			height: 100%;
			min-height: 300px;
		}
	}
	.venue-info {
		background: url("../img/venue-info-bg.jpg") top center no-repeat;
		background-size: cover;
		position: relative;
		padding-top: 60px;
		padding-bottom: 60px;
		&:before {
			content: "";
			background: rgba(13, 20, 41, 0.8);
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
		}
		h3 {
			font-size: 36px;
			font-weight: 700;
			color: $color_5;
		}
		p {
			color: $color_5;
			margin-bottom: 0;
		}
	}
	.venue-gallery-container {
		padding-right: 12px;
	}
	.venue-gallery {
		overflow: hidden;
		border-right: 3px solid #fff;
		border-bottom: 3px solid #fff;
		img {
			transition: all ease-in-out 0.4s;
		}
		&:hover {
			img {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
}
#hotels {
	padding: 60px 0;
	.hotel {
		border: 1px solid #e0e5fa;
		background: #fff;
		margin-bottom: 30px;
		&:hover {
			.hotel-img {
				img {
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
	}
	.hotel-img {
		overflow: hidden;
		margin-bottom: 15px;
		img {
			transition: 0.3s ease-in-out;
		}
	}
	h3 {
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 5px;
		padding: 0 20px;
	}
	a {
		color: $color_12;
		&:hover {
			color: $color_2;
		}
	}
	.stars {
		padding: 0 20px;
		margin-bottom: 5px;
		i {
			color: $color_13;
		}
	}
	p {
		padding: 0 20px;
		margin-bottom: 20px;
		color: $color_8;
		font-style: italic;
		font-size: 15px;
	}
}
#gallery {
	padding: 60px;
	overflow: hidden;
	.owl-nav {
		margin-top: 25px;
		text-align: center;
	}
	.owl-dots {
		margin-top: 25px;
		text-align: center;
	}
	.owl-item {
		border-left: 2px solid #fff;
		border-right: 2px solid #fff;
	}
	.owl-dot {
		display: inline-block;
		margin: 0 5px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: $background-color_5;
	}
	.owl-dot.active {
		background-color: $background-color_2;
	}
	.gallery-carousel {
		.owl-stage-outer {
			overflow: visible;
		}
		.center {
			border: 6px solid #f82249;
			margin: -10px;
			box-sizing: content-box;
			padding: 4px;
			background: #fff;
			z-index: 1;
		}
	}
}
#supporters {
	padding: 60px 0;
	.supporters-wrap {
		border-top: 1px solid #e0e5fa;
		border-left: 1px solid #e0e5fa;
		margin-bottom: 30px;
	}
	.supporter-logo {
		padding: 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border-right: 1px solid #e0e5fa;
		border-bottom: 1px solid #e0e5fa;
		overflow: hidden;
		background: rgba(255, 255, 255, 0.5);
		height: 160px;
		&:hover {
			img {
				-webkit-transform: scale(1.2);
				transform: scale(1.2);
			}
		}
	}
	img {
		transition: all 0.4s ease-in-out;
	}
}
#faq {
	padding: 60px 0;
	#faq-list {
		padding: 0;
		list-style: none;
		li {
			border-bottom: 1px solid #ddd;
		}
		a {
			padding: 18px 0;
			display: block;
			position: relative;
			font-family: $font-family_2;
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			padding-right: 20px;
		}
		i {
			font-size: 24px;
			position: absolute;
			right: 0;
			top: 16px;
		}
		p {
			margin-bottom: 20px;
		}
		a.collapse {
			color: $color_2;
		}
		a.collapsed {
			color: $color_14;
			i {
				&::before {
					content: "\f055" !important;
				}
			}
		}
	}
}
#subscribe {
	padding: 60px;
	background: url(../img/subscribe-bg.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
	&:before {
		content: "";
		background: rgba(6, 12, 34, 0.6);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	.section-header {
		h2 {
			color: $color_5;
		}
	}
	p {
		color: $color_5;
	}
	input {
		background: #fff;
		color: $color_8;
		border: 0;
		outline: none;
		margin: 0;
		padding: 9px 20px;
		border-radius: 50px;
		font-size: 14px;
	}
	button {
		border: 0;
		padding: 9px 25px;
		cursor: pointer;
		background: #f82249;
		color: $color_5;
		transition: all 0.3s ease;
		outline: none;
		font-size: 14px;
		border-radius: 50px;
		&:hover {
			background: #e0072f;
		}
	}
}
#buy-tickets {
	padding: 60px 0;
	.card {
		border: none;
		border-radius: 5px;
		transition: all 0.3s ease-in-out;
		box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
		&:hover {
			box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.2);
		}
		hr {
			margin: 25px 0;
		}
		.card-title {
			margin: 10px 0;
			font-size: 14px;
			letter-spacing: 1px;
			font-weight: bold;
		}
		.card-price {
			font-size: 48px;
			margin: 0;
		}
		ul {
			li {
				margin-bottom: 20px;
			}
		}
		.text-muted {
			opacity: 0.7;
		}
		.btn {
			font-size: 15px;
			border-radius: 50px;
			padding: 10px 40px;
			transition: all 0.2s;
			background-color: $background-color_2;
			border: 0;
			color: $color_5;
			&:hover {
				background-color: $background-color_6;
			}
		}
	}
	#buy-ticket-modal {
		input {
			border-radius: 0;
		}
		select {
			border-radius: 0;
		}
		.btn {
			font-size: 15px;
			border-radius: 50px;
			padding: 10px 40px;
			transition: all 0.2s;
			background-color: $background-color_2;
			border: 0;
			color: $color_5;
			&:hover {
				background-color: $background-color_6;
			}
		}
	}
}
#contact {
	padding: 60px 0;
	.contact-info {
		margin-bottom: 20px;
		text-align: center;
		i {
			font-size: 48px;
			display: inline-block;
			margin-bottom: 10px;
			color: $color_2;
		}
		address {
			margin-bottom: 0;
			color: $color_10;
		}
		p {
			margin-bottom: 0;
			color: $color_10;
		}
		h3 {
			font-size: 18px;
			margin-bottom: 15px;
			font-weight: bold;
			text-transform: uppercase;
			color: $color_10;
		}
		a {
			color: $color_15;
			&:hover {
				color: $color_2;
			}
		}
	}
	.contact-address {
		margin-bottom: 20px;
	}
	.contact-phone {
		margin-bottom: 20px;
	}
	.contact-email {
		margin-bottom: 20px;
	}
	.form {
		#sendmessage {
			color: $color_2;
			border: 1px solid #f82249;
			display: none;
			text-align: center;
			padding: 15px;
			font-weight: 600;
			margin-bottom: 15px;
		}
		#errormessage {
			color: $color_16;
			display: none;
			border: 1px solid red;
			text-align: center;
			padding: 15px;
			font-weight: 600;
			margin-bottom: 15px;
		}
		#sendmessage.show {
			display: block;
		}
		#errormessage.show {
			display: block;
		}
		.show {
			display: block;
		}
		.validation {
			color: $color_16;
			display: none;
			margin: 0 0 20px;
			font-weight: 400;
			font-size: 13px;
		}
		input {
			padding: 10px 14px;
			border-radius: 0;
			box-shadow: none;
			font-size: 15px;
		}
		textarea {
			padding: 10px 14px;
			border-radius: 0;
			box-shadow: none;
			font-size: 15px;
		}
		button[type="submit"] {
			background: #f82249;
			border: 0;
			padding: 10px 40px;
			color: $color_5;
			transition: 0.4s;
			border-radius: 50px;
			cursor: pointer;
			&:hover {
				background: #e0072f;
			}
		}
	}
}
#footer {
	background: #101522;
	padding: 0 0 25px 0;
	color: $color_17;
	font-size: 14px;
	.footer-top {
		background: #040919;
		padding: 60px 0 30px 0;
		.footer-info {
			margin-bottom: 30px;
			h3 {
				font-size: 26px;
				margin: 0 0 20px 0;
				padding: 2px 0 2px 0;
				line-height: 1;
				font-family: $font-family_2;
				font-weight: 700;
				color: $color_5;
			}
			img {
				height: 40px;
				margin-bottom: 10px;
			}
			p {
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 0;
				font-family: $font-family_2;
				color: $color_5;
			}
		}
		.social-links {
			a {
				font-size: 18px;
				display: inline-block;
				background: #222636;
				color: $color_17;
				line-height: 1;
				padding: 8px 0;
				margin-right: 4px;
				border-radius: 50%;
				text-align: center;
				width: 36px;
				height: 36px;
				transition: 0.3s;
				&:hover {
					background: #f82249;
					color: $color_5;
				}
			}
		}
		h4 {
			font-size: 14px;
			font-weight: bold;
			color: $color_5;
			text-transform: uppercase;
			position: relative;
			padding-bottom: 12px;
			border-bottom: 2px solid #f82249;
		}
		.footer-links {
			margin-bottom: 30px;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				i {
					padding-right: 5px;
					color: $color_2;
					font-size: 18px;
				}
				li {
					border-bottom: 1px solid #262c44;
					padding: 10px 0;
					&:first-child {
						padding-top: 0;
					}
				}
				a {
					color: $color_17;
					&:hover {
						color: $color_2;
					}
				}
			}
		}
		.footer-contact {
			margin-bottom: 30px;
			p {
				line-height: 26px;
			}
		}
		.footer-newsletter {
			margin-bottom: 30px;
			input[type="email"] {
				border: 0;
				padding: 6px 8px;
				width: 65%;
			}
			input[type="submit"] {
				background: #f82249;
				border: 0;
				width: 35%;
				padding: 6px 0;
				text-align: center;
				color: $color_5;
				transition: 0.3s;
				cursor: pointer;
				&:hover {
					background: #e0072f;
				}
			}
		}
	}
	.copyright {
		text-align: center;
		padding-top: 30px;
	}
	.credits {
		text-align: center;
		font-size: 13px;
		color: $color_18;
	}
}
@media (min-width: 767px) {
	#subscribe {
		input {
			min-width: 400px;
		}
	}
}
@media (min-width: 768px) {
	#contact {
		.contact-address {
			padding: 20px 0;
		}
		.contact-phone {
			padding: 20px 0;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}
		.contact-email {
			padding: 20px 0;
		}
	}
}
@media (min-width: 991px) {
	#schedule {
		.sub-heading {
			width: 75%;
		}
	}
}
@media (min-width: 1024px) {
	#intro {
		background-attachment: fixed;
	}
	#about {
		background-attachment: fixed;
	}
	#subscribe {
		background-attachment: fixed;
	}
}
@media (max-width: 1199px) {
	#header {
		.container {
			max-width: 100%;
		}
	}
	.nav-menu {
		a {
			padding: 8px 4px;
		}
	}
}
@media (max-width: 991px) {
	#header {
		background: rgba(6, 12, 34, 0.98);
		height: 70px;
		padding: 15px 0;
		transition: all 0.5s;
	}
	#nav-menu-container {
		display: none;
	}
	#mobile-nav-toggle {
		display: inline;
	}
	#intro {
		.intro-container {
			top: 70px;
		}
		h1 {
			font-size: 34px;
		}
		p {
			font-size: 16px;
		}
	}
	#schedule {
		.nav-tabs {
			a {
				padding: 8px 60px;
			}
		}
	}
}
@media (max-width: 768px) {
	.back-to-top {
		bottom: 15px;
	}
	#faq {
		#faq-list {
			a {
				font-size: 18px;
			}
			i {
				top: 13px;
			}
		}
	}
}
@media (max-width: 767px) {
	#schedule {
		.nav-tabs {
			a {
				padding: 8px 50px;
			}
		}
	}
}
@media (max-width: 574px) {
	#venue {
		.venue-info {
			h3 {
				font-size: 24px;
			}
		}
	}
}
@media (max-width: 480px) {
	#schedule {
		.nav-tabs {
			a {
				padding: 8px 30px;
			}
		}
	}
}
@media (max-width: 460px) {
	#subscribe {
		button {
			margin-top: 10px;
		}
	}
}
